* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p{
      font-weight: 400;
      padding-top: 2.2rem;
      padding-bottom: 1.5rem;
      line-height: 30px;
  }

  html{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  a{
      font-size: .9rem;
      font-weight: bold;
  }
  
  /* container principale */
  .container {
    width: 100%;
    max-width: 1100px;
    min-width: 200px;
    margin: 0 auto;
  }

  .bg-jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 75vh;
}

  /* gap a elementi che hanno classi .continer e . d-flex figli di section */
  section .container.d-flex{
      gap: 5rem;
  }

/* UTILITY */

/* utility padding */
  .p-y-xl{
      padding-top: 2rem;
      padding-bottom: 2rem;
  }

  .p-x-xl{
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .p-y-s{
      padding-top: .65rem;
      padding-bottom: .65rem;
  }

  .p-x-s{
      padding-right: .65rem;
      padding-left: .65rem;
  }

  .p-y-xs{
      padding-top: .25rem;
      padding-bottom: .25rem;
  }

  .p-x-xs{
      padding-left: .25rem;
      padding-right: .25rem;
  }

  /* utility testo */
  .big-text{
      font-size: 3rem;
      font-weight: 800;
  }
  
  .medium-text{
      font-size: 2.2rem;
      font-weight: 800;
  }

  .small-medium-text{
      font-size: 1.8rem;
      font-weight: 800;
  }

  .small-text{
      font-size: 1.2rem;
  }

  .default-text{
      font-size: 1rem;
  }

  .text-white{
      color: rgb(255, 255, 255);
  }

  .text-light-blue{
      color: #7289DA;
  }

  .text-center{
      text-align: center;
  }

  /* utility background */
  .bg-grey{
      background-color: #F6F6F6;
  }

  .bg-dark{
    background-color: #23272A;
  }

  /* utility flex */
  .d-flex{
      display: flex;
  }
  
  .j-content-between{
      justify-content: space-between;
  }

  .row-reverse{
    flex-direction: row-reverse;
  }

  .column{
      flex-direction: column;
  }

  /* classi all'iterno dell'header */
  nav .container .logo{
      width: 20%;
  }

  nav .container .main-menu{
    flex-grow: 1;
    line-height: 1.7;
}

  nav .container .login{
      width: 20%;
      text-align: right;
      line-height: 1.7;
  }

  nav .main-menu ul{
      justify-content: center;
      gap: 30px;
  }

  nav .main-menu ul li{
      list-style: none;
  }

  nav .container a,
  footer .col-s a{
      text-decoration: none;
      color: white;
      padding: .25rem;
      display: inline-block;
  }

  /* jumbotron-content */
  section .container .jumbotron-content{
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  /* classi button */
  .btn{
    padding: 1rem 1.7rem;
    border-radius: 30px;
    border: 0;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn.btn-small{ 
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
      
  }

  .btn.btn-black {
    background-color: black;
    color: white;
  }

  .btn.btn-light-blue{
      background-color: #8EA1E1;
  }

  .container-l .btn.btn-light-blue{
      margin-top: 2rem;
  }
  

  .button-section :first-child{
    margin-right: 1rem;
  }

  /* .col classe per tutte le colonne  */
  .container .col{
    min-height: 400px;
  }

  /* divido le colonne in base alla grandezza */
  .container .col.col-l{
      flex-grow: 2;
  }

  .container .col.col-s{
      flex-grow: 1;
  }

  .container .container-l{
      min-height: 600px;
  }

  .container .container-l img[alt=item4]{
      width: 100%;
  }
  
  /* classi footer */

  footer .separator{
      margin: 1rem 0;
      border: 1px solid white;
      max-width: 1100px;
      min-width: 200px;
      margin: 0 auto;
  }

  footer h5{
      font-size: .9rem;
  }

  footer .languages{
      padding-top: 0.65rem;
  }

  footer .container img[alt=italia]{
      width: 25px;;
  }

  footer .container span{
      vertical-align: top;
  }

  footer .social a{
      font-size: 1.2rem;
      padding-right: 1rem;
  }

  footer .col.col-s a{
      margin-top: .7rem;
      padding: 0;
  }