* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  p{
      font-weight: 400;
  }

  html{
    font-size: 16px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    
  }

  header{
      background-image: url(../img/jumbo.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 75vh;
  }

  a,
  footer{
      font-size: .9rem;
      font-weight: bold;
  }
  
  /* container principale */
  .container {
    width: 100%;
    max-width: 1100px;
    min-width: 200px;
    margin: 0 auto;
  }

  /* gap a elementi che hanno classi .continer e . d-flex figli di section */
  section .container.d-flex{
      gap: 5rem;
  }

/* UTILITY */

/* utility padding */
  .p-y-xl{
      padding-top: 2rem;
      padding-bottom: 2rem;
  }

  .p-x-xl{
      padding-left: 2rem;
      padding-right: 2rem;
  }

  .p-y-s{
      padding-top: .65rem;
      padding-bottom: .65rem;
  }

  .p-x-s{
      padding-right: .65rem;
      padding-left: .65rem;
  }

  .p-y-xs{
      padding-top: .25rem;
      padding-bottom: .25rem;
  }

  .p-x-xs{
      padding-left: .25rem;
      padding-right: .25rem;
  }

  /* utility testo */
  .big-text{
      font-size: 3rem;
      font-weight: 800;
  }
  
  .medium-text{
      font-size: 2.2rem;
      font-weight: 800;
  }

  .small-text{
      font-size: 1.2rem;
  }

  .default-text{
      font-size: 1rem;
  }

  .text-white{
      color: rgb(255, 255, 255);
  }

  /* utility background */
  .bg-grey{
      background-color: #F6F6F6;
  }

  .bg-dark{
    background-color: black;
  }

  .bg-dark-pink{
      background-color: #F08080;
  }

  .bg-water{
      background-color: #20B2AA;
  }

  /* utility flex */
  .d-flex{
      display: flex;
  }
  
  .j-content-between{
      justify-content: space-between;
  }

  .row-reverse{
    flex-direction: row-reverse;
  }

  /* classi all'iterno dell'header */
  nav .container .logo{
      width: 20%;
  }

  nav .container .main-menu{
    flex-grow: 1;
    line-height: 1.7;
}

  nav .container .login{
      width: 20%;
      text-align: right;
      line-height: 1.7;
  }

  nav .main-menu ul{
      justify-content: center;
      gap: 30px;
  }

  nav .main-menu ul li{
      list-style: none;
  }

  nav .container a{
      text-decoration: none;
      color: white;
      padding: .25rem;
      display: inline-block;
  }

  /* hero-content */
  section .container .hero-content{
    width: 80%;
    margin: 0 auto;
    min-height: 300px;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }

  .hero-content p,
  .container .col.col-s p{
      padding-top: 2.2rem;
      padding-bottom: 1.5rem;
      line-height: 30px;
  }

  /* classi button */
  .btn{
    padding: 1rem 1.7rem;
    border-radius: 30px;
    border: 0;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn.btn-small{ 
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
      
  }

  .btn-black {
    background-color: black;
    color: white;
  }

  .button-section :first-child{
    margin-right: 1rem;
  }

  /* .col classe per tutte le colonne  */
  .container .col{
    min-height: 400px;
    border: 1px dashed black;
  }

  /* divido le colonne in base alla grandezza */
  .container .col.col-l{
      flex-grow: 2;
  }

  .container .col.col-s{
      flex-grow: 1;
  }


  .container .container-l{
      min-height: 600px;
      border: 1px dashed black;
  }

  /* classi footer */
  footer .logo-footer{
      padding: .10rem .20rem;
      border: 1px dashed black;
  }

  footer .registration{
      padding: .10rem .20rem;
      border: 1px dashed black;
  }

  footer .separator{
      margin: 1rem 0;
      border: 1px solid white;
  }